# environments
venv/
.venv/
__pycache__/
*.pyc
*.egg-info/

# secrets
.env
*credential*
*key*.json
!package.json

# state & logs
*.tfstate
*.tfstate.backup
.terraform/
logs/
*.log

# data & db files
*.duckdb
*.db
*.mv.db

# build artifacts
build/
dist/
*.spec
